.jumbotron{
  text-align: center;  
  font-style: italic;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  color: rgb(75, 73, 73);
  background-image: url(https://bit.ly/2vuZ54d);
  background-size:cover;
  padding: 10rem 9rem;
  margin-bottom:2rem;
  border-radius: 0.5rem;
}
.blockquote-reverse {
  text-align:right;
  margin-bottom: -40px;
}
body{
  background-color: rgb(243, 242, 240);
  font-family: 'Playfair Display', serif;;
}
h1{
  text-align:center;
  font-family: inherit;
  font-style: italic;
}
.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
 }
 table{
   margin-left: -70px;
   font-family: inherit;
 }
 table, th, td {
   border: 1px solid rgb(44, 43, 43);
   border-collapse: collapse;
   text-align:center;
 }
 th td{
   padding:30px;
  
}
 tr:nth-child(even){
   background-color: rgb(170, 165, 165);
 }
