.jumbotron{
  text-align: center;  
  font-style: italic;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  color:rgb(80, 74, 74);
  background-image: url(https://bit.ly/2vuZ54d);
  background-size:cover;
  padding: 10rem 9rem;
  margin-bottom:10rem;
  /* margin-top: -8rem; */
  border-radius: 0.5rem;
}
.blockquote-reverse {
  text-align:right;
  margin: 1 11rem;
}
.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
 }