.jumbotron{background-color: aliceblue;
    text-align: center;  
    font-style: italic;
    font-family: 'Cormorant Garamond', serif;
}
.blockquote-reverse {
  text-align:right;
  margin: 1 11rem;
}